<p>
Hi there, I'm David. I'm a programmer in Brooklyn, NY. Currently, I'm building <a href="https://ressemble.com">Ressemble</a>. Before that, I built <a href="https://www.niemanlab.org/2016/03/with-purple-you-can-get-election-updates-and-political-info-via-text/">Purple</a>, which we <a href="https://www.axios.com/theskimm-purple-acquisition-texting-email-52cad29c-5374-46e4-8155-b7410d734bf8.html">sold to theSkimm</a> in 2019.
</p>
<p>
I also like to make things that help people get more out of their computers. Most recently <a href="https://links.rip">Links.rip</a>.
</p>

<p>
  I make no guarantees about what you will find on here. Feel free to click around, I try to make this a place that I'd find interesting myself if I stumbled upon it.
</p>
  <p class="text-lg bg-red-200">If you want to reach out you can email: d@(this domain). I'm also
  on <a href="https://twitter.com/davidmeh">twitter</a> although tbh I 
  have no idea how to use that website.
</p>
