/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";
@import url('https://rsms.me/inter/inter.css');
body { font-family: 'Inter', 'Inter UI', sans-serif; }
@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif; }
}

/* Variables */
:root {
  --font-xxs: 0.7em;
  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 1.563em;
  --font-xl: 1.953em;
  --font-normal: 400;
  --font-semibold: 600;
  --font-heavy: 600;
}

html {
  margin-left: calc(100vw - 100%);
}

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

/* General Styling */

body {
  min-height: 100vh;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {
  font-family: "Nunito Sans";
  margin-top: 4px;
  margin-bottom: 4px;
}

img, video {
  width: 95%;
  display: block;
  margin: 12px auto;
}

pre {
  margin-bottom: 1.2em !important;
}

a {
  color: #507dbc;
}

a:hover {
  color: #86bbd8;
}

p {
  font-size: var(--font-s);
  font-weight: 400;
  margin-bottom: 1.2em;
}

ul li {
  margin: 0 6px;
  padding: 0;
}


.navigation {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  font-family: "Nunito Sans";
  padding: 12px 12px 0;
  box-sizing: border-box;
}

.nav-item {
  flex: 1;
}

.nav-header {
  font-size: 1.2em;
  color: #0b2027 !important;
  text-decoration: none;
  text-align: left;
  font-weight: 900;
}

.nav-links {
  text-align: right;
  font-size: 0.9em;
  list-style-type: none;
  margin: auto 0;
}

.nav-link {
  text-decoration: none;
  padding-right: 3px;
}

.nav-links li {
  display: inline;
}

.content-main {
  max-width: 42em;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0px 16px;
}

.container {
  margin-top: 2rem;
}

/*Page Layouts*/

.super-header {
  margin-bottom: 4px;
  font-size: 1.6em;
}

.sub-header {
  margin-top: 0;
}

.page-title, .super-header {
  margin-top: 6px;
}

/* Code Blocks Related Styling */

.code-pre {
  padding: 0 !important;
  margin: 0 !important;
}

.code-code {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
}

