{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "bash",
          "diff",
          "css",
          "elixir",
          "erlang",
          "html",
          "javascript",
          "markdown",
          "rust"
        ],
        "css": true,
        "plugins": ["line-highlight"]
      }
    ]
  ]
}
