<h1 class="super-header"><%= @text.title %></h1>
<div phx-hook="PrismFormatter">
  <%= {:safe, @text.body} %>
</div>
<div class="postamble">
  Follow me on <a href="https://twitter.com/davidmeh">twitter</a> if you want to
  hear about what I'm up to.
</div>
